@import '../../../partials/mixins';
@import '../../../partials/variables.scss';

#folders {
  .folders {
    font-size:1.3rem;
    margin-top : 1rem;

    &__hidden {
      display : none;
    }
  
    &__title-container{
      padding : 0 1.2rem;
      font-size:1.3rem;
      background-color: #C0DF85;
      height : 6rem;

      @include tablet {
        margin-top: -5rem;
      }
    }

    &__title-sub-container {
      display : flex;
      justify-content: space-between;
      padding-top : 0.6rem;

      @include desktop {
        justify-content:space-between;
      }
    }
  
    &__title {
      font-size: 1.6rem;
      font-weight:600;
      margin-top: -0.6rem;
      padding-top : 0.5rem;

      @include mobile {
        font-size : 20px;
      }
    }

    &__arrows {
      border:none;
      height : 1.5rem;
      width:1.5rem;
      text-align: center;
      padding:0;
      padding-top:0.1rem;
      margin-right : 0.25rem;
      background-color: #f0ede9;
      color: black;

      &:hover {
        background-color : #d3d0cd
      }
    }

    &__new-folder {
      display : flex;
      padding-bottom:1.5rem;
    }

    &__input {
      width:14rem;
      height:2rem;
      font-size: 1rem;
      border-radius : 0.25rem;
      border:none;
      outline : none;
      padding-left : 10px;

      @include tablet {
        width : 16rem;
      }

      @include desktop {
        width:18vw;
      }
    }

    &__new-btn {
      margin:0;
      height:2rem;
      background-color: #f0ede9;
      color: black;

      @include tablet {
        height : 2rem;
        text-align : center;
        padding-top : 0.3rem;
      }
    }

  .btn:active{
    outline : none;
    background-color:#d3d0cd;
    color:white;
  }
  
  .btn:hover {
    color:white;
  }

  .list-group {
    width:100%;
  }

  .list-group-item {
    display : flex;
    flex-direction: row-reverse;
    padding: 0.3rem;

      @include tablet {
        justify-content: space-between;
        padding-left: 2rem;
      }

      @include desktop {
        padding-left: 2rem;
      }
    }

    &__btn-wrapper {
      display : flex;
      align-items : center ;
      height: 2.5rem;

      @include tablet {
        margin-right: 1rem;
      }

      @include tablet {
        margin-right: 0;
      }
    }

    &__edit {
      border : none;
      background-color:#DB6C79;
      height : 1.5rem;
      border-radius :.25rem;
      font-size : 0.9rem;
      margin-right:0.2rem;
      color : white;
      padding-top : 0.1rem;

      &:hover {
        background-color:#db8891;
      }
    }

    &__folder-name-arrow {
      border : none;
      background-color:#d8a45a;
      height : 1.5rem;
      width:1.5rem;
      padding : 0;
      padding-bottom : 0.15rem;
      font-weight: bold;

      &:hover {
        background-color:#dfb984;
      }
    }

    &__delete {
      width: 1rem;
      height: 2rem;
      border: none;
      color: grey;
      font-weight: bold;
      background-color: unset;
      text-align: center;
      padding: 0;
      margin-right: 0.3rem;
      margin-left: 0.4rem;

      &:hover {
        color: black;
      }
    }

    &__folder-name {
      font-size:1.1rem;
      font-weight : 600;
      width : 13rem;
      height:1.3rem;
      border: none;
      resize : none;
      cursor: pointer; 

      @include desktop {
        font-size : 1.1rem;
      }
    }

    &__notes-list {
      list-style-type: none;
      padding-left:0.4rem;
      font-size:1rem;
    }

    &__notes-item {
      margin-top: 0.4rem;
      color : #8f8f8f;
      font-weight : 600;
      padding-left:0.6rem;

      @include tablet {
        width: 38rem;
      }

      @include desktop {
        width: 11.5rem;
      }

      &:hover {
        background-color: #f0ede9;
        cursor : pointer;
        border-radius : 0.25rem;
      }
    }
  }
}

