@import '../../../partials/mixins';
@import '../../../partials/variables.scss';

#folders {
  @include tablet {
    width : 46%;
    margin-top:-1rem;
  }

  @include desktop {
    width:100%;
  }

  .folders {
    font-size:1.3rem;
    margin-top : 1rem;

    &__hidden {
      display : none;
    }
  
    &__title-container{
      padding : 0 1.2rem;
      font-size:1.3rem;
      background-color: grey;
      height : 6rem;
    }

    &__title-sub-container {
      display : flex;
      justify-content: space-between;
      padding-top : 0.6rem;

      @include desktop {
        justify-content:space-between;
      }
    }
  
    &__title {
      font-size: 1.6rem;
      font-weight:600;
      margin-top: -0.6rem;
      color: white;
      padding-top : 0.5rem;

      @include mobile {
        font-size : 20px;
      }
    }

    &__arrows {
      border:none;
      height : 1.5rem;
      width:1.5rem;
      text-align: center;
      padding:0;
      padding-top:0.1rem;
      margin-right : 0.25rem;

      &:hover {
        background-color : #9c9c9c
      }
    }

    &__new-folder {
      display : flex;
      padding-bottom:1.5rem;
    }

    &__input {
      width:14rem;
      height:2rem;
      font-size: 1rem;
      border-radius : 0.25rem;
      border:none;
      outline : none;
      padding-left : 10px;

      @include tablet {
        width : 16rem;
      }

      @include desktop {
        width:18vw;
      }
    }

    &__new-btn {
      margin:0;
      height:2rem;

      @include tablet {
        height : 2rem;
        text-align : center;
        padding-top : 0.3rem;
      }
    }

    .btn:active{
      outline : none;
      background-color:#ac8891;
      color:white;
    }
  
    .btn:hover {
      color:white;
    }

    .list-group {
      width:100%
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      height : 1.5rem;
      align-items : center;
      border-radius : 0;
      font-weight: 500;
    }

    &__folder-name {
      font-size:1.1rem;
      font-weight : 600;

      @include desktop {
        font-size : 1.1rem;
      }

      &-arrow {
        border : none;
        background-color:lightgray;
        height : 1.5rem;
        width:1.5rem;
        padding : 0;
        padding-top : 0.15rem;

        &:hover {
          background-color: #8f8f8f
        }
      }
    }

    &__notes-list {
      list-style-type: none;
      padding-left:0.4rem;
      font-size:1rem;
    }

    &__notes-hidden {
      display : none;
    }

    &__notes-item {
      margin-top: 0.4rem;
      color : #8f8f8f;
      font-weight : 600;
      padding-left:0.6rem;

      &:hover {
        background-color:#a8717f;
        color : white;
        cursor : pointer;
        border-radius : 0.25rem;
      }
    }
  }
}

