@import '../../../partials/mixins';
@import '../../../partials/variables.scss';

#folders {
  .folders {
    font-size:1.3rem;
  
    &__title-container{
      display : flex;
      justify-content: space-between;
      padding : 0 1.2rem;
      font-size:1.3rem;
    }
  
    &__title {
      margin-top:1.3rem;
      font-weight:500;
    }

    &__buttons {
      display : flex;
      justify-content: space-around;
      width:7rem;
    }

    .folders__title-arrow {
      font-size:2rem;
      width:2rem;
      height:2.2rem;
      background-color: grey;
      color:white;
      border-radius:0.25rem;
      text-align:center;
      line-height:2.4rem;
    }
  }
}

