@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import './partials/mixins.scss';
@import './partials/variables.scss';

.app {
  font-family: 'Baloo 2', cursive;
  display:flex;
  background-color: rgb(233, 233, 233);

  &__right-section {
    display:flex;
    flex-direction: column;
    width:100%;
    height:100% !important;
    border:none;
  }
}