@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

#form {
  .form {
    padding-top: 1.5rem;
    background-color: #f0ede9;
    @include tablet {
      height: 21.5rem;
    }

    @include desktop {
      width:22rem;
    }
  }

  .bloc-wrapper {
    height: 10.2rem;
    padding : 0 1rem;
    font-size:1.3rem;

    @include tablet {
      margin-top: -5rem;
    }

    @include desktop {
      height: 17rem;
    }
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem;
  }

  .form-control {
    @include dimensions (15rem, 2rem);
    font-size: 0.8rem;
  }

  ::placeholder {
    font-size: 0.8rem;
  }

  .btn {
    @include dimensions (3.6rem, 1.9rem);
    padding: 0.2rem 0 0 0;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: rgb(223, 241, 181);
    color: rgba(0, 0, 0, 0.678);

      &:active {
        @include colors ($secondary-color, $fifth-color, unset);
        outline : $main-outline;
      }

      &:hover {
        color:$secondary-color;
      }
    }

.btn-secondary {
  @include dimensions (3.6rem, 2rem);
  background-color: $fifth-color;
  font-size : 1rem;
  padding-top : 0.1rem;

  @include desktop {
    height:2.4rem;
  }
  }
}