@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

#topbar {
  .topbar {
    font-family: 'Ropa Sans', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.678);
    padding-top: 0.3rem;
    background-color: #dff1b5;

    @include tablet {
      margin-bottom: 5.5rem;
    }
  }
}