@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.topbar {
  height : 3rem;
  width: 100%;
  background-color: #ececec;
  display:flex;
  justify-content: space-evenly;
  align-items : center;

  &__arrow {
    width:1.4rem;
    height:1.4rem;
  }

  &__header,  &__bold {
    height:1.1rem;
    width:1.1rem;
  }

  &__italic,  &__quote {
    height:1rem;
    width:1rem;
  }

  &__str {
    width:1.25rem;
    height :1.25rem;
  }

  &__li {
    height:1.3rem;
  }

  &__hig {
    height:1.4rem;
    width:1.5rem;
  }

  &__tab {
    height:1.3rem;
    width:1.3rem;
  }

  &__code {
    height:1.9rem;
    width:1.7rem;
  }

  &__link {
    height:1.4rem;
    width:1.6rem;
  }
  
  &__date {
    height:1.5rem;
    width:1.5rem;
  }
}