@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.topbar {

  &__logo {
    font-weight:bold;
    font-size: 2.2rem;
    font-family: 'Unica One', cursive;
    letter-spacing: -0.24rem;
    color: grey;
    margin-right:12rem;
  }

  &__button {
    width:2.6rem;
    height:2.6rem;
  }
}
.btn-secondary {
  background-color: grey;
}

.navbar {
  height : 4rem;
}

.form-inline {
  margin-right:0.3rem;
}

