@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

p {
  margin:0.45rem 0;
}

.note {
  box-sizing: unset;
  max-width: unset;
  

  @include tablet {
    width:95%;
  }

  @include desktop {
    margin-left : 1rem;
    width:71vw;
  }

  &__header {
    padding-top : 0.5rem;
    padding-left: 1rem;
    padding-right:1rem;
    background-color: #d1c6c9;
    height : 2.4rem;
  }

  &__title {
    outline : none;
    width:100%;
    border : none;
    border-radius : 0.3rem;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    font-weight : 500;
  }

  &__title:hover {
    cursor : text;
  }

  &__content {
    outline : none;
    font-size:1.15rem;
    width:100%;
    border-radius : 0.3rem;
    border : none;
  }
}

.btn {
  background-color :#a8717f;
  color:white;
  border:none;

  &:hover {
    background-color:#d9bec5; 
    border-color: #d9bec5;
  }
}

.btn-primary:not(:disabled):not(.disabled):focus {
  color: #fff;
  background-color :#a8717f;
}


.btn-secondary {
  background-color: grey;
}


.modal-header {
  padding : 0;
}

.modal-body {
  padding-top:0;
  margin-top:0.4rem;
  padding-right : 2rem;
}
