@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';
@import '../Folders/Folders.scss';

.files {
  @extend .folders;

  &--yellow {
    background-color:#ebdca1;
  }

  &--orange {
    background-color: #dab0a3;
  }

  &--pink {
    background-color:#9b6c7a;
  }

  &--purple {
    background-color: #b9bacc;
  }

  &--blue {
    background-color: #aecbe2;
  }

  &--teal {
    background-color: #8ca9ad;
  }

  &--green {
    background-color:#a4b49a;
  }

  &--grey {
    background-color: #ececec;
  }

  &--hide {
    display:none;
  }
  
  &__input-wrapper {
    display:flex;
    margin-left:0.5rem;
  }

  &__input {
    @extend .folders__input;

    &:focus {
      outline: none;
    }
  }

  &__add {
    @extend .folders__add;
  }

  &__list {
    @extend .folders__list 
  }
}