@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.files {
  background-color : #b9bacc;
  max-width:299px;
  position : relative;

  &__resizer {
    position:absolute;
    cursor: col-resize;
    height:100%;
    right:0;
    top:0;
    width:4px;
    background-color: #e6e6e6
  }

  &__drag {
    position:absolute;
  }

  &__input-wrapper {
    display:flex;
  }

  &__input {
    height: 1.8rem;
    margin:0.5rem;
    overflow: auto;
    border:none;
    border-radius : 5px;
    padding-left:0.5rem;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__add {
    width:2rem;
    height:2rem;
    padding-top:0.5rem;
    padding-right:0.6rem;
    user-select: none;
  }
}