@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

p {
  margin:0.45rem 0;
}
.note {
  box-sizing: unset;
  margin-left:1rem;
  max-width: unset;
  width:71vw;
  -webkit-user-select: text;
  -moz-user-select: text; 
  -ms-user-select: text;
  user-select: text;

  &__header {
    padding: 0.3rem 0.3rem;
    padding-left: 1rem;
    padding-right:1rem;
    background-color: #d1c6c9;
  }

  &__title-input {
    resize: none;
    border:none;
    outline:none;
    background-color: #d1c6c9;
  }

  &__content {
    outline : none;
    font-size:1.4rem;
    resize:both;
    display: block;
    overflow: hidden;
    min-height:40px;
    line-height:20px;
  }
}

.btn {
  background-color :#a8717f;
  color:white;
  border:none;
}

.btn-secondary {
  background-color: grey;
}

.modal-header {
  align-items: unset;
}

.modal-body {
  padding-top:0;
  margin-top:0.4rem;
}