.main {
  background-color: rgb(246, 246, 246);
  width:97.5%;
  height:100%;
  padding-top:1rem;
  padding-left:1rem;
  font-family: 'Baloo 2', cursive;
  border:0;

  &:focus {
    outline: 0;
  }
}