@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

p {
  margin:0.45rem 0;
}
.note {
  box-sizing: unset;
  margin-left:1rem;
  max-width: unset;
  width:71vw;

  &__header {
    padding: 0 0.3rem;
    padding-left: 1rem;
    padding-right:1rem;
    background-color: #d1c6c9;
    height : 2.4rem;
  }

  &__title {
    min-width:5rem;
    display: inline-block;
    outline : none;
  }

  &__title:hover {
    cursor : text;
  }

  &__title-input {
    resize: none;
    border:none;
    outline:none;
    background-color: #d1c6c9;
  }

  &__content {
    outline : none;
    font-size:1.4rem;
    resize:both;
    overflow: hidden;
    display : inline-block;
    min-width : 10rem;
  }
}

.btn {
  background-color :#a8717f;
  color:white;
  border:none;
}

.btn-secondary {
  background-color: grey;
}

.modal-header {
  align-items: unset;
}

.modal-body {
  padding-top:0;
  margin-top:0.4rem;
}