@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.sidebar {
  background-color:#a78b92;
  padding-top:2rem;

  @include desktop {
    width:26%;
  }

  &__wrapper {
    @include tablet {
      display : flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include desktop {
      display : block;
    }
  }

  &__logo {
    width:13rem;
    border-radius : 7px;
    display : block;
    margin : auto;
    margin-bottom : 2rem;
  }
}