@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.sidebar {
  display:flex;
  flex-direction: column;
  background-color:rgb(49, 49, 49);
  width: 7.5%;
  height:100vh;
  padding-left:0.6rem;
  padding-top:2rem;

  & img {
    @include dimensions (2.5rem, 2.5rem);
    padding-top:1.5rem;
    cursor: pointer;
  }
}