@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.sidebar {
  display:flex;
  flex-direction: column;
  background-color:rgb(49, 49, 49);
  width: 7.5%;
  height:96.8vh;
  padding-left:0.6rem;
  padding-top:2rem;

  @include tablet {
    width:7%;
  }

  &__wrapper {
    position : relative;
  }

  & img {
    @include dimensions (2.5rem, 2.5rem);
    padding-top:1.5rem;
    cursor: pointer;

    @include tablet {
      @include dimensions(3.5vw, 3.5vw);
    }
  }

  &__input {
    border:none;
    position : absolute;
    top : 2rem;
    left:4rem;
    height : 2rem;
    background-color: rgba(66, 65, 65, 0.63);
    border-radius : 6px;
    color:white;
    padding-left:0.6rem;
    box-sizing: border-box;
    z-index : 1;

    &--hide {
      display:none
    }
  }

  @keyframes animation {
    from   {width: 0;}
    to {width: 24.3vw;}
  }

  &__cus {
    list-style-type: none;
    display:flex;
    border-radius : 6px;
    width:24.3vw;
    height:2.3rem;
    position : absolute;
    top : 0rem;
    left:3.5rem;
    z-index : 1;
    background-color:rgba(66, 65, 65, 0.63);
    padding-left:0;
    padding-top : 0.8rem;
    animation-name : animation;
    animation-direction: alternate;
    animation-duration: 0.7s;
    transition: ease-in-out;

    &--hide {
      display : none;
    }

    & li {
      width:1.5rem;
      height:1.5rem;
      margin-left:0.8rem;
      border-radius:20px;
    }
  }

  &__cus-yelw {
    background-color:#ebdca1;
    cursor : pointer;
  }

  &__cus-org {
    background-color: #dab0a3;
    cursor : pointer;
  }

  &__cus-pnk {
    background-color:#9b6c7a;
    cursor : pointer;
  }

  &__cus-prpl {
    background-color: #b9bacc;
    cursor : pointer;
  }

  &__cus-blu {
    background-color: #aecbe2;
    cursor : pointer;
  }

  &__cus-teal {
    background-color: #8ca9ad;
    cursor : pointer;
  }

  &__cus-grn {
    background-color:#a4b49a;
    cursor : pointer;
  }

  &__cus-grey {
    background-color: #ececec;
    cursor : pointer;
  }
}