@mixin dimensions ($width, $height) {
    width: $width;
    height: $height;
}

@mixin border ($border, $border-radius) {
  border: $border;
  border-radius: $border-radius;
}

@mixin colors ($color, $background-color, $border-color) {
  color: $color;
  background-color:$background-color;
  border-color: $border-color;
}

@mixin positioning ($justify-content, $flex-direction:row) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin font ($font-s, $line-h, $font-w:normal) {
    font-size: $font-s;
    line-height: $line-h; 
    font-weight: $font-w;
}

@mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
}
