$primary-color: #f0ede9;
$secondary-color: black;
$third-color: white;
$fourth-color: #d3d0cd;
$fifth-color: #d8a45a; 

$main-outline: none;
$main-border: none;


$mobile-breakpoint: 320px;
$tablet-breakpoint :768px;
$desktop-breakpoint:1200px;

$font : 'Baloo 2', cursive;
