@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

p {
  margin:0.45rem 0;
}

#notes {
  .note {
    box-sizing: unset;
    max-width: unset;
    
    @include tablet {
      width:95%;
    }

    @include desktop {
      margin-left : 1rem;
      width:71vw;
    }

  .modal-header {
    padding : 0;
  }

    &__title {
      padding-top : 0.5rem;
      padding-left: 1rem;
      padding-right:1rem;
      background-color: #f0ede9;
      height : 2.4rem;
      outline : none;
      width:100%;
      border : none;
      border-radius : 0.3rem;
      border-bottom-left-radius : 0;
      border-bottom-right-radius : 0;
      font-weight : 500;

      &:hover {
        cursor : text;
      }
    }
  }

  .sun-editor-editable {
    font-family: "Baloo 2", cursive;
    font-size: 1rem;
  }

  .sun-editor {
    border: none;
  }

  .se-toolbar {
    outline: none;
    background-color: unset;
  }

 .se-btn-module-border {
    border: 0;
  }

  .sun-editor .se-resizing-bar.se-resizing-none {
    min-height: 0;
    border: 0;
    height: 0;
  }

  .btn {
    color:white;
    border:none;

    &:hover {
      background-color: #d3d0cd;
      border-color: #d3d0cd;
    }

    &:active, &:focus {
      color: black;
      background-color: #f0ede9;  
    }
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    color: black;
    background-color: #f0ede9;
    border-color: #f0ede9;
  }

  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0;
  }

  .footer-btn {
    color: black;
    background-color: #f0ede9;
    transform: rotate(0deg);
    transition: transform 0.5s;

    &:active{
      color: black;
      background-color: #f0ede9;  
    }

    &:focus {
      box-shadow: 0 0 0 0;
    }

    &-rotate {
      color: black;
      background-color: #f0ede9;
      transform: rotate(180deg);
    }
  }

  .modal-footer {
    padding: 0.2rem;
    padding-right: 0.5rem;
  }
}