@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

p {
  margin:0.45rem 0;
}

#notes {
  .note {
    box-sizing: unset;
    max-width: unset;
    
    @include tablet {
      width:95%;
    }

    @include desktop {
      margin-left : 1rem;
      width:71vw;
    }
  }

  .modal-header {
    padding : 0;
  }

  .note-title {
    @include dimensions (100%, 2.4rem);
    @include border ($main-border, 0.3rem 0rem); 
    padding: 0.5rem 1rem 1rem 1rem;
    background-color: $primary-color;
    outline : $main-outline;
    font-weight : 500;

    .note-title:hover {
      cursor : text;
    }
  }

  .instructions-list {
    padding-left: 28px;
    font-size: 0.8rem;
  }

  .sun-editor-editable {
    font-family: $font;
    font-size: 1rem;
  }

  .sun-editor {
    border: $main-border;
  }

  .se-btn-tool-font {
    width: 3.2rem;
  }

  .se-btn-tool-size {
    width: 3.2rem;
  }

  .se-toolbar {
    outline: $main-outline;
    background-color: unset;
  }

  .se-btn-module-border {
    border: $main-border;
  }

  .sun-editor .se-resizing-bar.se-resizing-none {
    min-height: 0;
    border: $main-border;
    height: 0;
  }

  .btn {
    @include colors ($secondary-color, $primary-color, unset);
    border: $main-border;

    .btn:hover {
      @include colors (unset,$fourth-color, $fourth-color);
    }

    .btn:active .btn:focus {
      @include colors ($secondary-color, $primary-color, unset);
    }
  }

  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus {
    @include colors ($secondary-color, $primary-color, unset);
   box-shadow: 0 0 0 0;
}

  .footer-btn-rotate {
    transform: rotate(180deg);
  }

  .modal-footer {
    padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  }
}