@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.sidebar {
  background-color:$primary-color;

  @include desktop {
    width:26%;
  }
}

.logo {
  @include dimensions (7rem, 7rem);
  margin: -1.5rem auto -2.5rem auto;
  display : block;

  @include tablet {
    @include dimensions (16rem, 16rem);
    margin : -4.2rem auto unset auto;
  }
}

.wrapper {
  @include desktop {
    display : block;
  }
}
