@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.sidebar {
  background-color:#f0ede9;

  @include desktop {
    width:26%;
  }

  &__logo {
    width:7rem;
    height: 7rem;
    display : block;
    margin : auto;
    margin-top: -1.5rem;
    margin-bottom: -2.5rem;

    @include tablet {
      margin: auto;
      margin-top: -4.2rem;
      width: 16rem;
      height: 16rem;
    }
  }

  &__wrapper {
    @include desktop {
      display : block;
    }
  }
}