@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.folders {
  &__list {
    list-style-type: none;
    background-color:white;
    padding: 0;
    position : absolute;
    top : 34.5rem;
    width:100%;
}

  &__item {
    border-bottom: 1px solid black;
    padding : 1rem 15px;
  }
}