@import '../../partials/mixins.scss';
@import '../../partials/variables.scss';

.folders {
  background-color:#7e7f9c;
  width:22vw;
  max-width:20vw;
  position : relative;
  height:100vh;

  &--hide {
    display:none;
  }

  &__resizer {
    position:absolute;
    cursor: col-resize;
    height:100%;
    right:0;
    top:0;
    width:4px;
    background-color:rgb(189, 197, 201);
  }

  &__input-wrapper {
    display:flex;
    margin-left:0.5rem;

    @include tablet {
      width:8rem;
      height:1rem;
    }
  }

  &__input {
    height: 1.8rem;
    margin:0.5rem;
    overflow: auto;
    border:none;
    border-radius : 5px;
    padding-left:0.5rem;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
    user-select: none;

    &:focus {
      outline: none;
    }

    @include tablet {
      font-size:0.7rem;
      height:1.5rem;
      margin-left:0;
    }
  }

  &__add {
    @include dimensions (1rem, 1rem);
    margin: 0.8rem 1rem 0 0;
    padding:0.10rem;
    background-color:white;
    user-select: none;
    cursor:pointer;
    border-radius:2px;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);

    @include tablet {
      @include dimensions(0.6rem, 0.6rem);
      margin-top:0.9rem;
    }
  }
}