@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import './partials/mixins.scss';
@import './partials/variables.scss';

.app {
  font-family: 'Baloo 2', cursive;
  background-color: rgb(233, 233, 233);
  margin-bottom: 10rem;
}

.app-container {
  @include desktop {
    // display : flex;
  }
}